




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Courgette&family=Josefin+Sans:ital,wght@1,100&family=Radio+Canada&family=Skranji&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Cormorant+Garamond:ital@1&family=Courgette&family=Great+Vibes&family=Josefin+Sans:ital,wght@1,100&family=Radio+Canada&family=Skranji&family=Teko&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Teko', sans-serif;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;

    padding: 0 15px; 
}
.header{
    background-image: url(background-image/a.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 5px solid #000;
    border-radius: 40px;
    padding-bottom: 5px;
}


ul{
    display: flex;
}

li{
    margin-left: 27px;
}
a{
    color: rgb(75, 3, 3);
    font-weight: bold;
    font-size: 15px;

}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;

}



.first-letter{
    font-size: 8rem;
    font-family: 'Teko', sans-serif;
    color: rgb(75, 3, 3);
}

h3{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 35px;
    font-size: 2.5rem;
    line-height: 0.4;
    letter-spacing: 1px;
    
}

.btn-araba{
    display: block;
    background-color: rgb(69, 65, 65);
    color:  rgb(75, 3, 3);
    padding: 10px 15px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    position: relative;
    overflow: hidden;
}

.btn-araba::after{
    content: "HAZIR";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.btn-araba:hover::after{

    top: 0;

}
#resim{
    width: 601px;
}
.about{
    margin-bottom: 150px;
}

.about-title{
    margin: 40px 0;
}

.about-title h2{
     width: 100%;
     text-align: center;
     margin: 0 auto;
     color: rgb(75, 3, 3);
     font-size: 35px;
     font-weight: 400px;
}

.about-title h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
    display: block;
    margin-top: 8px;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    width: 40%;
}
.resim1{
    font-size: 50px;
}
#resim2{
    width: 601px;
}

#resim3{
    width: 601px;
}

#resim4{
    width: 601px;
}

#resim5{
    width: 601px;
}

#video{
    font-family: 'Cormorant Garamond', serif;
    color: rgb(23, 15, 47);
}

#son{
    font-family: 'Great Vibes', cursive;
    color: rgb(57, 59, 54);
    text-align: center;
}

#links{
    color: blue;
}

#link1s{
    color: darkred;
}

#link2s{
    color: rgb(9, 78, 9);
}






